## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

# Note: To make these run successfully again, note that config.py and _pycache_ were deleted from file.

In [2]:
# 1. Import the WeatherPy_database.csv file.
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Vardo,NO,70.3705,31.1107,17.60,73,20,9.22,few clouds
1,1,Itoman,JP,26.1247,127.6694,68.00,64,40,20.71,scattered clouds
2,2,Komatipoort,ZA,-25.4332,31.9548,73.00,98,78,7.25,light rain
3,3,Tuktoyaktuk,CA,69.4541,-133.0374,-5.80,77,90,10.36,light snow
4,4,Turbat,PK,26.0023,63.0440,60.42,51,0,4.07,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,80.31,76,99,15.93,light rain
15,15,Busselton,AU,-33.6500,115.3333,75.11,59,100,7.20,overcast clouds
20,20,Arraial Do Cabo,BR,-22.9661,-42.0278,75.20,88,0,5.75,light rain
26,26,Hatillo,PR,18.4863,-66.8254,75.99,78,40,11.50,scattered clouds
34,34,Atuona,PF,-9.8000,-139.0333,79.16,73,1,11.27,clear sky
39,39,Wonthaggi,AU,-38.6044,145.5913,75.00,65,2,11.48,clear sky
41,41,Boa Vista,BR,2.8197,-60.6733,84.20,58,40,11.50,scattered clouds
42,42,Yurimaguas,PE,-5.9000,-76.0833,79.02,77,100,1.68,overcast clouds
44,44,Kupang,ID,-10.1667,123.5833,82.40,94,40,8.05,scattered clouds
47,47,Vaini,TO,-21.2000,-175.2000,86.00,74,40,8.05,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                168
City                   168
Country                168
Lat                    168
Lng                    168
Max Temp               168
Humidity               168
Cloudiness             168
Wind Speed             168
Current Description    168
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,80.31,76,99,15.93,light rain
15,15,Busselton,AU,-33.6500,115.3333,75.11,59,100,7.20,overcast clouds
20,20,Arraial Do Cabo,BR,-22.9661,-42.0278,75.20,88,0,5.75,light rain
26,26,Hatillo,PR,18.4863,-66.8254,75.99,78,40,11.50,scattered clouds
34,34,Atuona,PF,-9.8000,-139.0333,79.16,73,1,11.27,clear sky
...,...,...,...,...,...,...,...,...,...,...
661,661,Carutapera,BR,-1.1950,-46.0200,76.84,92,100,6.82,overcast clouds
665,665,Itarema,BR,-2.9248,-39.9167,78.30,87,100,7.94,overcast clouds
666,666,Poya,NC,-21.3500,165.1500,84.40,64,49,3.96,scattered clouds
676,676,Port-Gentil,GA,-0.7193,8.7815,81.88,80,100,13.71,overcast clouds
677,677,Pointe-Noire,CG,-4.7761,11.8635,78.80,89,20,3.44,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,80.31,light rain,-23.1203,-134.9692,
15,Busselton,AU,75.11,overcast clouds,-33.6500,115.3333,
20,Arraial Do Cabo,BR,75.20,light rain,-22.9661,-42.0278,
26,Hatillo,PR,75.99,scattered clouds,18.4863,-66.8254,
34,Atuona,PF,79.16,clear sky,-9.8000,-139.0333,
39,Wonthaggi,AU,75.00,clear sky,-38.6044,145.5913,
41,Boa Vista,BR,84.20,scattered clouds,2.8197,-60.6733,
42,Yurimaguas,PE,79.02,overcast clouds,-5.9000,-76.0833,
44,Kupang,ID,82.40,scattered clouds,-10.1667,123.5833,
47,Vaini,TO,86.00,light rain,-21.2000,-175.2000,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   168
Country                168
Max Temp               168
Current Description    168
Lat                    168
Lng                    168
Hotel Name             168
dtype: int64

In [19]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,80.31,light rain,-23.1203,-134.9692,Pension Maro'i
15,Busselton,AU,75.11,overcast clouds,-33.6500,115.3333,Observatory Guest House
20,Arraial Do Cabo,BR,75.20,light rain,-22.9661,-42.0278,Pousada Porto Praia
26,Hatillo,PR,75.99,scattered clouds,18.4863,-66.8254,Hotel Parador El Buen Cafe
34,Atuona,PF,79.16,clear sky,-9.8000,-139.0333,Villa Enata

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))